<% content_for :title, "New quote" %>

<h1>New quote</h1>



<%= form_with(model: @quote, url: quotes_path, method: :post, local: true) do |f| %>
  <%= render 'form', f: f %>
  <!-- Submit -->
  <div class="mt-3">
    <%= f.submit 'Create Quote', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>



<br>

<div>
  <%= link_to "Back to quotes", quotes_path %>
</div>
