<p style="color: green"><%= notice %></p>
<% if flash[:error] %>
  <p class="error" style="color:red;"><%= flash[:error] %></p>
<% end %>
<h1>Welcome to MyQuote</h1>
<p>Enjoy!</p>
<h2>Recently Added Quotes</h2>
<hr />
<% @quotes.each do |quote| %>
    <div class="card bg-body-tertiary" style="margin-bottom:10px">
    <div class="card-body">
      <p class="card-text"><%= quote.textbody %><br />[<a href="/quotes/<%= quote.id %>">Details</a>]</p>
    </div>
    </div>
  <% end %>